@model IEnumerable<BookServiceModel>
@{
    ViewData["Title"] = "Home Page";
    var books = Model.ToList();
}

@if (!books.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best book shop worldwise</h1>
        <p class="lead">
            There seems to be no books in the store.
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="House" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Book</a>
            }
        </p>
    </div>
}
<partial name="_BookStartPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
